/***********************
  STYLES : BREAKPOINTS 
************************/


/* BREAK : LARGE DESKTOP */
@media only screen and (min-width : 1500px) {
    .overlay-cover {
      width: 40%;
    }
}


/* BREAK : TABLET */
@media only screen and (max-width : 1000px) {
  .title.secondary {
    font-size: 40px;
    line-height: 40px;
  }
}

/* BREAK : MOBILE */
@media only screen and (max-width : 800px) { 

  #home-icon {
    display: inline-block;
    width: 120px;
    height: 51px;
    background-image: url(../../assets/f_stack_horizontal_white.png);
  }

  .linkto_menu {
    top: 10px;
  }

  .linkto_events,
  .linkto_merch {
    display: none;
  }

  .menu {
    max-width: 100%;
  }

  .section.header-background {
    height: auto;
    min-height: 30vh;
/*    background: none;
    background-color: #fff;*/
  }
  .header-overlay {
/*    background-image: url(../../assets/intro_reverse.png);*/
    height: 30vh;
  }

  .overlay-cover {
    width: 40%;
    height: 30vh;
  }

  .section.intro {
    display: none;
  }

  .section_inner {
    max-width: 85%;
  }

  .gradient-overlay {
    opacity: 0.6;
  }

  .text.primary {
    font-size: 17px;
    line-height: 25px;
  }

  .section.event_current .event_date {
    padding-bottom: 0px;
  }

  .section.event_overview .content_list {
    display: block;
  }

  .section.event_overview .content_item {
    width: 100%;
    min-height: 150px;
    margin-left: 0;
    margin-right: 0;
  }

  .section.event_overview .content_item .event-details {
    top: auto;
    bottom: 25%;
  }

  .section.event_overview .action_container.secondary {
    opacity: 0;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    width: calc(100% - 26px);
    border: 0;
    margin: 0 auto;
  }

  .section.event_overview .action_container a {
    font-weight: 400;
  }

  .title.secondary {
      font-size: 36px;
      line-height: 35px;
  }

  .section.event_overview .action_container {
    max-width: calc(100% - 10px);
  }

  .content_item .action_link {
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
  }

  .section.merchandise .section_inner {
    padding-top: 2vh;
  }

  .section.merchandise .section_inner:after {
    top: 52%;
    max-width: 85%;
    height: 65vh;
  }

  .section.merchandise .content_list {
    display: block;
  }

  .section.merchandise .content_item {
    min-height: auto;
    width: 50%;
  }

  .section.merchandise .title.secondary,
  .section.merchandise .section-header {
    text-align: center;
  }

  .section.merchandise .merch-details {
    left: 50%;
    width: 100%;
  }

  .title.tertiary {
      font-size: 26px;
      line-height: 30px;
  }

  .vertical-line {
    height: 50px;
  }

  .vertical-line + .section-header,
  .vertical-line + p {
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 0px;
  }
  .vertical-line + .title.secondary.alt {
    margin-top: 5px;
  }

  .vertical-line + .title.secondary {
    margin-top: 10px;
  }

  .title + .vertical-line,
  p + .vertical-line {
    margin-top: 5px;
  }

  div + .vertical-line {
    margin-top: 10px;
  }

  .star + .vertical-line {
    margin-top: 5px;
  }
  .vertical-line + .arrow {
    margin-top: 5px;
  }

  .section-header.secondary {
    font-size: 16px;
  }



  .section.events_list .event-details {
    max-width: 210px;
  }

  .section.events_list .event_date {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 5px;
  }

  .section.events_list .action_container {
    opacity: 0.4;
    -webkit-transform: translate(-50%,0px);
    -moz-transform: translate(-50%,0px);
    -o-transform: translate(-50%,0px);
    transform: translate(-50%,0px);
  }

  .section.events_past .content_container {
    margin-left: -7px;
  }

  .section.events_past .section_inner {
    max-width: 100%;
  }

  .section.events_past .section-header {
    font-size: 50px;
    line-height: 50px;
  }

  .section.events_past .content_list {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
    z-index: 2;
  }

  .section.events_past .content_item {
    background-color: #666;
    margin: 7px 0 0px 2%;
    flex-grow: 1;
    min-height: 200px;
    width: calc(100% * (1/2) - 10px - 1px);
  }

  .section.events_past .kicker {
    font-size: 13px;
    line-height: 20px;
  }

  .past-event_details {
    width: 100%;
    max-width: 180px;
  }

  .section.events_past .title.tertiary {
    font-size: 22px;
    line-height: 25px;
  }

  .content_list:hover .fx {
    opacity: 1;
  }


  .section.prompt_share .section-share .share-item {
    min-height: 100px;
  }

  .section.prompt_share .section-share .share-item a span {
      font-size: 17px;
      font-weight: 700;
      line-height: 20px;
  }

  .text_desktop-only {
    display: none;
  }

  .section.prompt_share {
    min-height: auto;
  }

  .footer {
    min-height: auto;
  }

  .footer-list.links,
  .footer .text_prompt {
    margin-bottom: 20px;
  }

  .footer-list.links .footer-item, 
  .footer-list.links .footer-item a {
    font-size: 20px;
    line-height: 20px;
  }

}



/* BREAK : MOBILE : MINI */
@media only screen and (max-width : 400px) { 
  .menu_open .linkto_home, 
  .menu_open .linkto_events, 
  .menu_open .linkto_merch {
    opacity: 0;
    pointer-events: none;
  }
}



/* BREAK : SHALLOW VIEWPORTS */
@media screen and ( max-height: 600px ){
    .overlay-cover {
      width: 40%;
    }
}



/* BREAK : SHALLOW VIEWPORTS : MINI */
@media screen and ( max-height: 500px ){
    .menu-item .menu-list.secondary {
      display: none;
    }
}





